@model FestivalMVC.ViewModels.SchedulePageViewModel
<tbody id="schedules">
    @{ Int16 total = 0;
        foreach (var scheduleLine in Model.Schedule)
        {
            <tr data-schedule="@Json.Encode(scheduleLine)" onclick="ScheduleApp.editSchedule(this)">
                <td>@Model.JudgeName(@scheduleLine.Judge)</td>
                <td>@Model.EventTime(scheduleLine)</td>
                <td class="text-right">@scheduleLine.Minutes</td>
                <td>@Model.ClassPreference(scheduleLine.ClassType)</td>
                <td>@Model.LevelPreference(scheduleLine.PrefHighLow)</td>
            </tr>
            total += scheduleLine.Minutes;
        }
        <tr><td></td><td></td><td></td><td></td><td></td></tr>
        <tr>
            <td><b>Total</b></td>
            <td></td>
            <td class="text-right">@total</td>
            <td></td>
            <td></td>
        </tr>
    }
</tbody>

