@using FestivalMVC.Models
@model FestivalMVC.ViewModels.EntryViewModel

@{
    ViewBag.Title = "Entries";
    Layout = "~/Views/Chair/_ChairLayout.cshtml";
}

@*
    Entries Page For Chair
*@

<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<div class="well">
    <div>
        <form id="selectForm" action="/Chair/Entries" method="post" class="form-inline">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label class="control-label" for="SelectedTeacher">Teacher:&nbsp;</label>
                <select class="form-control" name="SelectedTeacher" onchange="this.form.submit()">
                    <option value="0" disabled default @(Model.SelectedTeacher == 0 ? "selected" : "")>Select ...</option>
                    @{ foreach (var teacher in Model.Teachers)
                        {
                            <option value="@teacher.Id" @(Model.SelectedTeacher == teacher.Id ? "selected" : "")>@Model.GetFullName(teacher)</option>
                        }
                    }
                </select>
            </div>
        </form>
    </div>
    @{if (Model.SelectedTeacher != 0)
        {
            <hr />

            if (Model.EntriesAllSubmitted() && !Model.EntriesAllApproved())
            {
                <a class="btn btn-sm btn-success pull-right" onclick="EntriesApp.approveEntries()">Approve</a>
            }
            Html.RenderPartial("_Entries", Model);
        }
    }
</div>
<form id="entryForm">
    <div class="modal fade" id="entryModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="well-sm">
                    <div class="row">
                        <div class="col-sm-4">
                            <input name="Id" type="hidden" class="form-control" />
                            <div class="form-group">
                                <label class="control-label" for="StudentName">Student Name:</label>
                                <input name="StudentName" class="form-control" readonly />
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="RequiredPiece">Required Piece:</label>
                                <select name="RequiredPiece" class="form-control" onchange="EntriesApp.onRequiredChange()" readonly></select>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="RequiredExtension">Movement:</label>
                                <select name="RequiredExtension" class="form-control" readonly></select>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="form-group optional-hide">
                                <label class="control-label" for="ChoicePiece">Choice Piece:</label>
                                <input name="ChoicePiece" class="form-control" readonly />
                            </div>
                            <div class="form-group optional-hide">
                                <label class="control-label" for="ChoiceComposer">Choice Composer:</label>
                                <input name="ChoiceComposer" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Publisher">Publisher:</label>
                                <input name="Publisher" class="form-control" readonly/>
                            </div>
                            <div class="form-group optional-show">
                                <label class="control-label" for="Accompanist">Accompanist:</label>
                                <input name="Accompanist" class="form-control" readonly />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Notes">Notes:</label>
                                <input name="Notes" class="form-control" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <a class="btn btn-default" onclick="$('#entryModal').modal('hide')" title="Close">Close</a>
                                <a class="btn btn-default" onclick="EntriesApp.approveEntry('A')" title="Approve">Approve</a>
                                <a class="btn btn-default" onclick="EntriesApp.approveEntry('?')" title="Reject">Reject</a>

                            </div>
                            <div class="alert alert-danger" name="submitError">
                                <strong>Server error! </strong><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




@section Scripts {
    @Scripts.Render("~/Scripts/FestivalLib.js")
    @Scripts.Render("~/Scripts/Entries.js")
}


