@model FestivalMVC.ViewModels.PreparePageViewModel

@{
    var theEvent = (FestivalMVC.ViewModels.EventViewModel)Session["SelectedEvent"];
    var theUser = (FestivalMVC.Models.LoginPerson)Session["TheUser"];
    var dataEvent = theEvent.Event;
}

<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<div>
    <h4 class="pull-right">@($"{theUser.LocationName} {@theEvent.EventDescription}")</h4>
</div>
<div class="clear"></div>

<div class="row">


    @{Html.RenderPartial("_Event", theEvent);}
    @{Html.RenderPartial("_EventEdit");}

    @{ Html.RenderPartial("_People", Model.PeopleViewModel);}


</div>

@section Scripts
{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/EventEdit.js")
    @Scripts.Render("~/Scripts/FestivalLib.js")
    @Scripts.Render("~/Scripts/PersonApp.js")
    @Scripts.Render("~/Scripts/PreparePage.js")
}
