@using FestivalMVC.Models
@model FestivalMVC.ViewModels.SchedulePageViewModel

@{
    Layout = "~/Views/Chair/_ChairLayout.cshtml";
}


<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<div class="row">
    <div class="col-sm-6">
        <div class="well well-sm">
            <h4>Unscheduled Entry Summary</h4>
            <a class="pull-right btn btn-sm btn-warning" onclick="ScheduleApp.generateNewSchedule()">Generate Student Schedule</a>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Class</th>
                        <th class="text-right">Minutes</th>
                        <th class="text-right">Entries</th>
                    </tr>
                </thead>
                <tbody>
                    @{ bool lastTotal = false;
                        foreach (var summaryLine in Model.Summary)
                        {
                            <tr>
                                <td>@TotalBold(summaryLine.ClassTypeDesc)</td>
                                <td class="text-right">@summaryLine.TotalMinutes</td>
                                <td class="text-right">@summaryLine.Number</td>
                            </tr>

                        }
                        IHtmlString TotalBold(string desc)
                        {
                            if (desc == "Total")
                            {
                                return Html.Raw(lastTotal ? "" : "<b>Total</b>");
                            }
                            else
                            {
                                return Html.Raw(desc);
                            }
                        }
                    }
                </tbody>
            </table>

            <h4>Scheduled Entry Summary</h4>
            <a class="pull-right btn btn-sm btn-danger" onclick="ScheduleApp.clearSchedule()">Clear Student Schedule</a>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Class Type</th>
                        <th>Class</th>
                        <th>Judge</th>
                        <th>Audition Time</th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var schedule in Model.EntrySchedule)
                        {
                            <tr>
                                <td>@schedule.StudentName</td>
                                <td>@schedule.ClassType</td>
                                <td>@schedule.ClassAbbr</td>
                                <td>@schedule.JudgeName</td>
                                <td class="text-right">@schedule.AuditionTimeString</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="well well-sm">
            <h4>Audition Time Blocks</h4>
            @if (Model.CanSchedule)
            {
                <a class="btn btn-sm btn-primary pull-right" onclick="ScheduleApp.addSchedule()">Add</a>
            }
            else
            {
                <i class="bg-warning">Scheduling permitted only when event is closed.</i>
            }

            <div class="clear"></div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Judge</th>
                        <th>Start Time</th>
                        <th class="text-right">Minutes</th>
                        <th>Class</th>
                        <th>Level</th>
                    </tr>
                </thead>
                @{Html.RenderPartial("_Schedule", Model);}
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="scheduleModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form id="scheduleForm">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-5">
                            <input type="hidden" class="form-control" name="Id" />
                            <div class="form-group">
                                <label class="control-label" for="Judge">Judge:</label>
                                <select class="form-control" name="Judge" required>
                                    <option value="0" disabled selected hidden>Select ...</option>
                                    @{ foreach (var judge in Model.Judges)
                                        {
                                            <option value="@judge.Id">@judge.Name</option>
                                        }
                                    }
                                </select>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="StartHour">Start Hr:</label>
                                            <select name="StartHour" class="form-control input-sm">
                                                <option value="0" disabled selected hidden>Select ... </option>
                                                <option value="7">7 AM</option>
                                                <option value="8">8 AM</option>
                                                <option value="9">9 AM</option>
                                                <option value="10">10 AM</option>
                                                <option value="11">11 AM</option>
                                                <option value="12">12 PM</option>
                                                <option value="13">1 PM</option>
                                                <option value="14">2 PM</option>
                                                <option value="15">3 PM</option>
                                                <option value="16">4 PM</option>
                                                <option value="17">5 PM</option>
                                                <option value="18">6 PM</option>
                                                <option value="19">7 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="StartMinute">Start Min:</label>
                                        <select name="StartMinute" class="form-control input-sm">
                                            <option value="0">:00</option>
                                            <option value="10">:10</option>
                                            <option value="20">:20</option>
                                            <option value="30">:30</option>
                                            <option value="40">:40</option>
                                            <option value="50">:50</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="StartDay">Day:</label>
                                            <select name="StartDay" class="form-control input-sm" data-eventDate="@Json.Encode(Model.EventDate)">
                                                <option value="0">Day 1</option>
                                                <option value="1">Day 2</option>
                                                <option value="2">Day 3</option>
                                                <option value="3">Day 4</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Minutes">Span:</label>
                                        <select name="Minutes" class="form-control input-sm">
                                            <option value="60">1 hr</option>
                                            <option value="90">1.5</option>
                                            <option value="120">2 hr</option>
                                            <option value="150">2.5</option>
                                            <option value="180">3 hr</option>
                                            <option value="210">3.5</option>
                                            <option value="240">4 hr</option>
                                            <option value="270">4.5</option>
                                            <option value="300">5 hr</option>
                                            <option value="330">5.5</option>
                                            <option value="360">6 hr</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <label for="ClassType">Class:</label>
                                    <select class="form-control" name="ClassType" required>
                                        <option value="*" selected>Any</option>
                                        @{ foreach (char classType in Model.ClassTypes)
                                            {
                                                <option value="@classType">@classType</option>
                                            }}
                                    </select>
                                </div>
                                <div class="col-sm-4">
                                    <label for="PrefHighLow">Level</label>
                                    <select class="form-control" name="PrefHighLow" required>
                                        <option value="*" selected>Any</option>
                                        <option value="H">High</option>
                                        <option value="L">Low</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <a class="btn btn-default" onclick="ScheduleApp.updateSchedule()">Save</a>
                                <a class="btn btn-default" onclick="$('#scheduleModal').modal('hide')" title="Close">Cancel</a>
                                <a name="deleteButton" class="btn btn-warning" onclick="ScheduleApp.deleteSchedule()" title="Delete">Delete</a>
                            </div>
                            <div class="alert alert-danger" name="submitError">
                                <strong>Server error! </strong><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>This is a small modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>


<div class="clear"></div>
@section Scripts
{

    @Scripts.Render("~/Scripts/FestivalLib.js")
    @Scripts.Render("~/Scripts/SchedulePage.js")

}

