@model FestivalMVC.ViewModels.EnrollVM

<td>
    @if (!(Model.History.ClassAbbr is null))
    {
        <b>@Model.History.ClassAbbr</b> @Html.Raw(Stars(Model.History.AwardRating))
        if (Model.History.ConsecutiveSuperior > 0)
        {
            @($" X {Model.History.ConsecutiveSuperior}")
        }
        <b class="small pull-right">@Model.History.AccumulatedPoints</b>
    }
</td>
<td name="@($"{Model.Registered.ClassType}{Model.Registered.Student}")" class="text-center">
    @Html.Raw(RegisterStyle(Model.Registered.ClassAbbr, @Model.Registered.Status))
</td>

@using System.Text
@{

    string Stars(char rating)
    {
        int numStars = "FGES".IndexOf(rating);

        var sb = new StringBuilder("", 200);
        for (var j = 0; j <= numStars; j++)
        {
            sb.Append("<span class='glyphicon glyphicon-star'></span>");
        }

        return sb.ToString();
    }
    string RegisterStyle(string abbr, char status)
    {
        string style = status == '-' ? "default" : "warning";
        return "<span class=\"label label-fixed label-" + style + "\">" + (abbr ?? "") + "</span>";
    }
}
