@using FestivalMVC.Models;
@model FestivalMVC.ViewModels.EntryViewModel
@{
    ViewBag.Title = "Entries";
}

<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<div class="well">
    <div class="text-center">
        @{ bool closed = false;
            switch (Model.EventVM.Event.Status)
            {
                case EventStatusTypes.Auto:
                    closed = !Model.EventVM.ComputeIfOpen();
                    break;
                case EventStatusTypes.Open:
                    break;
                default:
                    closed = true;
                    break;
            }

            if (closed)
            {
                <h3>Registration is closed. No more submissions will be accepted.</h3>
            }
            else if (Model.EntriesAllApproved())
            {
                if (Model.HasEntries())
                {
                    <h3> All entries have been accepted.</h3>
                }
            }
            else
            {
                var needCorrecting = Model.EntriesNeedCorrection();
                if (needCorrecting > 0)
                {
                    <h3> You have @needCorrecting entries which require correcting!</h3>
                }
                else if (!Model.EntriesAllSubmitted())
                {
                    int daysLeft = (int)Math.Truncate((Model.EventVM.Event.CloseDate - DateTime.Today).TotalDays);
                    if (daysLeft == 1)
                    {
                        int hoursLeft = (int)Math.Truncate((Model.EventVM.Event.CloseDate - DateTime.Today).TotalHours);
                        <h2>@($"There are less than {hoursLeft} hours remaining to submit your entries!") </h2>
                    }
                    <h3>@($"There are less than {daysLeft} days remaining to submit your entries.") </h3>
                }
                else
                {
                    <h3> All entries have been submitted, awaiting approval.</h3>
                }
            }
        }
    </div>
    @{if (!closed && !Model.EntriesAllSubmitted())
        {
            <a class="btn btn-sm btn-primary pull-right" onclick="EntriesApp.submitEntries()">Submit</a>
        }
    }



    @{Html.RenderPartial("_Entries", Model); }
</div>

@{if (!closed)
    {
        <form id="entryForm">
            <div class="modal fade" id="entryModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="well-sm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input name="Id" type="hidden" class="form-control" />
                                    <div class="form-group">
                                        <label class="control-label" for="StudentName">Student Name:</label>
                                        <input name="StudentName" class="form-control" readonly />
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="RequiredPiece">Required Piece:</label>
                                        <select name="RequiredPiece" class="form-control" onchange="EntriesApp.onRequiredChange()" required></select>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label" for="RequiredExtension">Movement:</label>
                                        <select name="RequiredExtension" class="form-control" required></select>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group optional-hide">
                                        <label class="control-label" for="ChoicePiece">Choice Piece:</label>
                                        <input name="ChoicePiece" class="form-control" required maxlength="50" />
                                    </div>
                                    <div class="form-group optional-hide">
                                        <label class="control-label" for="ChoiceComposer">Choice Composer:</label>
                                        <input name="ChoiceComposer" class="form-control" required maxlength="50" />
                                    </div>
                                    <div class="form-group optional-hide">
                                        <label class="control-label" for="Publisher">Publisher:</label>
                                        <input name="Publisher" class="form-control" required maxlength="20" />
                                    </div>
                                    <div class="form-group optional-show">
                                        <label class="control-label" for="Accompanist">Accompanist:</label>
                                        <input name="Accompanist" class="form-control" required maxlength="50" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Notes">Notes:</label>
                                        <input name="Notes" class="form-control" maxlength="50" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <a class="btn btn-default" onclick="$('#entryModal').modal('hide')" title="Close">Close</a>
                                        <a name="submit" onclick="EntriesApp.updateEntry()" class="btn btn-default" title="Save">Save</a>
                                    </div>
                                    <div class="alert alert-danger" name="submitError">
                                        <strong>Server error! </strong><span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
}
<div class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>This is a small modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>
<script>


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/FestivalLib.js")
    @Scripts.Render("~/Scripts/Entries.js")
}
