@model FestivalMVC.ViewModels.TeacherRegisterViewModel
@{
    ViewBag.Title = "Register";
}

<form id="__AjaxAntiForgeryForm">
    @Html.AntiForgeryToken()
</form>

<div class="well">
    <div class="row">
        <div class="col-sm-4">
            @{Html.RenderPartial("_Event", Model.EventVM);}
        </div>

        @{ bool closed = false;
            if (!Model.EventVM.ComputeIfOpen())
            {
                closed = true;
                <h3>Registration is closed. No registrations or changes will be accepted.</h3>
            }

        }

        <div class="col-sm-6">

            @{if (!closed)
                {
                    <a class="btn btn-sm btn-primary" onclick="RegisterApp.editStudent(null)">Add Student</a>
                    <a class="btn btn-sm btn-warning pull-right" onclick="RegisterApp.payRegistration()">Pay</a>
                }
            }
            @{ string dbtable = (Model.EventVM.Event.ClassTypes.Length == 2) ? "table-double" : "";}

            <table class="table table-bordered table-responsive table-condensed @dbtable" data-classTypes="@Json.Encode(Model.EventVM.Event.ClassTypes)">
                <thead>
                    <tr>
                        <th>Student<span id="totalStudents" class="badge bg-info pull-right">@Model.AllStudents.Count()</span></th>
                        <th>History</th>
                        <th>Registration</th>
                    </tr>
                </thead>
                <tbody id="students">

                    @{
                        foreach (var student in Model.AllStudents)
                        {
                            Html.RenderPartial("_FullStudent", student);
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<form id="studentForm">
    <div class="modal fade" id="studentModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="well">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label" for="first">First Name:</label>
                                <input class="form-control" type="text" placeholder="Enter First Name"
                                       name="FirstName" maxlength="50" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="last">Last Name:</label>
                                <input class="form-control" type="text" placeholder="Enter Last Name"
                                       name="LastName" minlength="2" maxlength="50" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="BirthDate">Birth Date:</label>
                                <input class="form-control" type="date" placeholder="Enter Birth Date"
                                       name="BirthDate" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="phone">Phone:</label>
                                <input class="form-control" type="tel" placeholder="Enter Phone"
                                       name="Phone" maxlength="20" required>
                            </div>
                            <input class="form-control" type="hidden" name="Id" />
                            <input class="form-control" type="hidden" name="Instrument" />
                            <input class="form-control" type="hidden" name="Teacher" />

                        </div>
                        <!-- RH half -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <a name="submit" class="btn btn-default" onclick="RegisterApp.updateStudent()">Save</a>
                                <a class="btn btn-default" onclick="$('#studentModal').modal('hide')" title="Close">Cancel</a>
                                <a name="deleteButton" class="btn btn-warning" onclick="RegisterApp.removeStudent()" title="Remove"
                                   data-toggle="popover" data-trigger="hover" data-content="You can remove only students who have no registrations for this event.">Remove</a>
                            </div>
                            <div class="alert alert-danger" name="submitError">
                                <strong>Server error! </strong><span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@{if (!closed)
    {
        <form id="registerForm">
            <div class="modal fade" id="registerModal" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="well">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label" for="FullName">Student Name:</label>
                                        <input name="FullName" class="form-control" readonly></input>
                                    </div>
                                    <input name="Student" class="form-control" type="hidden" />

                                    @{ for (var i = 0; i < Model.EventVM.Event.ClassTypes.Length; i++)
                                        {
                                            char classType = Model.EventVM.Event.ClassTypes[i];
                                            <div class="form-group">
                                                <label class="control-label" for="@($"ClassAbbr{classType}")">@Model.EventVM.EventTypeDesc(classType)</label>
                                                <select class="form-control" name="@($"ClassAbbr{classType}")" data-classType="@classType"
                                                        onchange="RegisterApp.updateEntry(this)">
                                                    <option value="">( Not Entering )</option>
                                                    @foreach (var theType in Model.ClassAbbrsForClassType(classType))
                                                    {
                                                        <option value=@theType.ClassAbbr>@theType.ClassAbbr</option>
                                                    }
                                                </select>
                                            </div>
                                        }}
                                    <div class="form-group">
                                        <a class="btn btn-default" onclick="$('#registerModal').modal('hide')" title="Close">Close</a>
                                    </div>
                                    <div class="alert alert-danger" name="submitError">
                                        <strong>Server error! </strong><span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }
}

@{Html.RenderPartial("_InfoModal"); }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/FestivalLib.js")
    @Scripts.Render("~/Scripts/RegisterPage.js")
}

