@using FestivalMVC.ViewModels
@model AdminPageData
@{
    ViewBag.Title = "Index";
}

<!-- for ajax in AddAntiForgeryToken()-->
<form id="__AjaxAntiForgeryForm" action="#" method="post">@Html.AntiForgeryToken()</form>

<!-- Locations -->


<div style="height: 20px"></div>
<div class="row">
    <div class="col-sm-6 well">
        <div class="row">

            <div class="col-sm-4">
                <h4>@($"{Model.TheUser.LocationName} {@Model.TheUser.LocationDomain}")</h4>
            </div>
            <div class="col-sm-2"></div>
            <div id="locationsAlert" class="col-sm-5 alert alert-info">
                Click on any row to fill or vacate position.
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>@Model.TheUser.LocationSlot</th>
                    <th>@Model.TheUser.LocationRoleAssignments</th>
                </tr>
            </thead>
            <tbody id="locations">
                @foreach (var location in Model.Locations)
                {

                    <tr data-location="@Json.Encode(location)" name="@location.Id" class="mousePointer" onclick="AdminApp.fillOrVacate(this)">
                        <td>@location.LocationName</td>
                        <td>@Model.GetPersonName(location.ContactId)</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>



    @{
        Html.RenderPartial("_People", Model.PeopleViewModel);
    }


<!-- Modal -->
<div class="modal fade" id="infoModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>This is a small modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>


<div id="cancelAssignment" class="hide">
    <a>&lt; Cancel this assignment ></a>
</div>




<div class="clear"></div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Admin.js")
    @Scripts.Render("~/Scripts/FestivalLib.js")
    @Scripts.Render("~/Scripts/PersonApp.js")

}
