<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Festival Entry Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        string ActiveTitle(string name)
        {
            string key = name.Substring(0, 1);
            bool disabled;
            if ("IP".IndexOf(key) >= 0)
            {
                disabled = false;
            }
            else
            {
                if (Session["SelectedEvent"] is null)
                {
                    disabled = true;
                }
                else
                {
                    var theEvent = (FestivalMVC.ViewModels.EventViewModel)Session["SelectedEvent"];
                    disabled = (theEvent.MenuKey.IndexOf(key) < 0);
                }
            }

            return (ViewBag.Title == name ? "active" : "") + (disabled ? " disabled" : "");
        } }
    @{ 
        string EventDesc()
        {
            if (Session["SelectedEvent"] is null)
            {
                return "";
            }
            var theEvent = (FestivalMVC.ViewModels.EventViewModel)Session["SelectedEvent"];
            return theEvent.EventDescription;
        }
    }


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header active">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input id="selectedEvent" type="text" class="form-control" placeholder="(None Selected)"
                               readonly value="@EventDesc()"/>
                    </div>
                </form>
                <ul class="nav navbar-nav">
                    <li class="@ActiveTitle("Index")">@Html.ActionLink("Events","Index","Chair")</li>
                    <li class="@ActiveTitle("Prepare")">@Html.ActionLink("Prepare","Prepare", "Chair")</li>
                    <li class="@ActiveTitle("Entries")">@Html.ActionLink("Entries", "Entries","Chair")</li>
                    <li class="@ActiveTitle("Schedule")">@Html.ActionLink("Schedule", "Schedule", "Chair")</li>
                    <li class="@ActiveTitle("Ratings")">@Html.ActionLink("Ratings", "Ratings", "Chair")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - National Music Festival</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

