@model FestivalMVC.ViewModels.EventViewModel

<tr id="@Model.Event.Id" data-event="@Json.Encode(Model.Event)">
    <td><a onclick="ChairApp.selectEvent(this)">Select</a></td>
    <td>@Model.Event.EventDate.ToLongDateString()</td>
    <td>@Model.Event.Venue</td>
    <td>@Model.InstrumentName</td>
</tr>

