@using FestivalMVC.Models
@model ContactForView
@{string icon; }
<tr name="@Model.Id" data-location="@Model.AssignedToLocation" data-person="@Json.Encode(Model)" class="mousePointer">
    <td>
        <a onclick="PersonApp.editPerson($(this).closest('tr').data('person'),
                                    $(this).closest('tr').data('location')==0)" data-toggle="popover">@Model.FullName</a>
                                </td>
                                @{if (Model.AssignedToLocation > 0)
                                    {
                                        icon = "glyphicon glyphicon-star";
                                    }
                                    else if (Model.Available)
                                    {
                                        icon = "glyphicon glyphicon-star-empty";
                                    }
                                    else
                                    {
                                        icon = "";
                                    }
                                }
                                <td class="centered" onclick="PersonApp.assignPerson($(this).closest('tr').data('person'),
                                    $(this).closest('tr').data('location'))"><span class="@icon"></span></td>
                            </tr>
